# Virtual environments
venv/
mood-music-env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDE files
.vscode/
.ipynb_checkpoints/

# OS files
.DS_Store

# Secrets & keys
.env
keys.py

# Streamlit / build cache
.cache/
.streamlit/

# Model / large files (optional)
*.h5
*.pb
*.pt
