# Created by venv; see https://docs.python.org/3/library/venv.html
venv/
mood-music-env/
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
mood-music-env/
*.log
.vscode/
.ipynb_checkpoints
.DS_Store
keys.py
.env


