deepface==0.0.95
flask==3.1.2
flask-cors==6.0.1
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
gunicorn==23.0.0
h5py==3.10.0
joblib==1.5.2
numpy==1.26.4
opencv-python-headless==4.9.0.80
pandas==2.2.2
pillow==10.4.0
protobuf==4.25.3
requests==2.32.5
spotipy==2.25.1
streamlit==1.50.0
streamlit-webrtc==0.63.5
tenacity==9.1.2
tensorflow==2.15.0
python-dotenv==1.0.0
